
@{
    ViewBag.Title = "Agence Immobiliere";
    Layout = "~/Views/_LayoutPage3.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/mysitenunu.css" rel="stylesheet" />
    <title>Agence Immobiliere</title>
    <link rel="icon" type="image/png" href="~/Content/ville.png" />

</head>
<body>
   
  

</body>
</html>


