<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/inscriez.css" rel="stylesheet" />
</head>
<body style="background-image:url( ~/Content/wallpaperflare.com_wallpaper.jpg)">
    <img src="~/Content/wallpaperflare.com_wallpaper.jpg" />

    <img id="img" src="./plan.avif">
    <form>
        <fieldset>
            <h1>INSCIVEZ-VOUS</h1>
            <label>Nom:</label>
            <input type="text" name="Nom" style="width: 125px; height: 20px;">
            <label>Prenom:</label>
            <input type="text" name="Prenom" style="width: 125px; height: 20px;">
            <label>Email:</label>
            <input type="email" name="email" style="width: 200px; height: 20px;">
            <label>Mot de Pass:</label>
            <input type="password" name="password" style="width: 200px; height: 20px;">
            <label>Téléphone</label>
            <input type="tel" name="tel" style="width: 200px; height: 20px">
            <button class="inscri" type="submit">S'inscrir</button>
            <a href="./sitenunu.html" class="a">Retour</a>
        </fieldset>
    </form>
    <div>
        @RenderBody()
    </div>
</body>
</html>
