<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Myaccount.css" rel="stylesheet" />

</head>
<body>
    <ul>
        <li><a href="#" data-text="About">Publier annonce</a></li>
        <li><a href="./sitenunu.html" data-text="Home">Acceuil</a></li>
        <li><a href="#" data-text="About">Annonces</a></li>
        <li><a href="#" data-text="Services">Favoris</a></li>
        <li><a href="#" data-text="Work">Déconnecté</a></li>
    </ul>
    <div>
        @RenderBody()
    </div>
</body>
</html>
