<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Apropos.css">
    <link rel="icon" type="image/png" href="./image-de-lutilisateur-avec-fond-noir.png" />


</head>
<body>
    <div class="d1">
        <h1>Qui Somme Nous ? </h1>
    </div>
    <div id="d2">
        <img src="~/apropos.jpg" class="im">
        <h2>Agent immobilier</h2>
        <p>
            Nous mettons nos compétences au service des propriétaires désirant vendre ou louer un bien immobilier<span> (appartement, villa, terrain, plateaux bureaux …).</span></br>
            Grâce à notre connaissance du marché, nous assistons les propriétaires à définir le juste prix pour vendre ou louer leur bien immobilier.
            Les propriétaires bénéficient de la publication de leur bien sur de nombreux supports <span>(site web de l’agence, portails immobiliers payants, presse …).</span></br>
            Nous proposons à nos clients une sélection de biens à vendre ou à louer. Nous visitons le bien, l’évaluons, et négocions les conditions de ventes ou de location.
            Nous agissons comme conseiller pour les deux parties et les assistons dans toutes les démarches afin de faire
        </p>
    </div>
    <div>
        <div>
            <h1 class="c1">Nos objectif</h1>

            <img src="~/chambre-rotin.jpeg" style="width: 90%; height: 50%;">
        </div>
        <div>
            <div class="i1">

            </div>
            <div class="i2">

            </div>
            <div class="i3">

            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>


</body>
</html>
