
@{
    ViewBag.Title = "Pub_annonce";
    Layout = "~/Views/_LayoutPage5.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Pub_annonce.css" rel="stylesheet" />
</head>
<body>

</body>
</html>
